extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 #{data.profile.name}

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a master’s degree student majoring in Computer Science at UT Dallas.  
            | I enjoy developing and maintaining software programs. 
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li C++
          li JavaScript
          li HTML
          li CSS
          li MySQL
          li REST API
        h6 Contact Info

        //- Add contact info
        ul          
          li wxd190005@utdallas.edu

        //- Add URLs to the hrefs 
        a.button.expanded(href='https://www.linkedin.com/in/timing/') LinkedIn
        a.button.expanded(href='https://github.com/moonspacemars') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  